@import "bootstrap/scss/bootstrap";

body {
    background-color: darkslategray;
    display: flex;
    justify-content: center;
}

.registration-card {
    align-items: center;
}

.title {
    color:antiquewhite;
}